@import 'container';

@import 'form';

@import 'heading';

@import 'variables';

#logo{
    border:0px solid $bdr-color1;
    border-radius: $bdr-rds2;
    margin-top: 3%;
}

#h1{
    font-size: 3rem;
    margin-top: 2%;
    text-align: center;
}

#h2{
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#std_list_th{
    text-align: center;
    background-color: $prm_color3;
    color: $prm_color2;
        &:hover{
            background-color: $prm_color1;
            color: $prm_color2;
        }
}
#tchr_list_th{
    @extend #std_list_th;
}

#dashboard{
    width: 90%;
    margin-left: 5%;
    float: left;
    border: 1px solid $bdr-color1;
    border-radius: $bdr-rds2;
    text-align: $txt-align2;
}
#db_std{
    border: 0px solid $bdr-color1;
    border-radius: $bdr-rds2;
    box-shadow: 1px 1px 5px $bdr-color1;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: $prm_color2;
    padding: 20px;
    width: 300px;
    ul{
        li{
            background-color: $prm_color1;
            border-radius: $bdr-rds1;
            margin-top: 5%;
            padding: 3%;
            list-style: none;
            text-decoration: none;
            a{
                text-decoration: none;
                font-weight: bold;
                color: $prm_color2;
                font-size: 1.2rem;
                &:hover{
                    color: $prm_color3;
                }
            }
        }
    }
}

#tchr_signup_form_left{
    border: 0px solid $bdr-color3;
    border-radius: $bdr-rds2;
    box-shadow: 0px 0px 0px $bdr-color3;
    margin-top: 0%;
    margin-bottom:0%; 
    margin-left:7%;
    float: left;
    position: relative;
    padding: 20px;
}
#tchr_signup_form_right{
    border: 0px solid $bdr-color3;
    border-radius: $bdr-rds2;
    box-shadow: 0px 0px 0px $bdr-color1;
    margin-top: 0%;
    margin-right:7%;
    margin-bottom:0%;
    float: right;
    position: relative;
    padding: 20px;
}