
    {% include "header.html" %}
    <title>Student Records</title>
<body>
    <h1>Enrolled Students</h1>   
    <table class="table table-striped">
        <thead>
            <tr>
                <th id="std_signup_th">Student_Id</th>
                <th id="std_signup_th">Student Name</th>
                <th id="std_signup_th">Father's Name</th>
                <th id="std_signup_th">Age</th>
                <th id="std_signup_th">Gender</th>
                <th id="std_signup_th">Grade</th>
                <th id="std_signup_th">Contact</th>
                <th id="std_signup_th">Email</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td style="text-align: center;">{{ student.id }}</td>
                <td>{{ student.std_name }}</td>
                <td>{{ student.std_father_name }}</td>
                <td style="text-align: center;">{{ student.std_age }}</td>
                <td style="text-align: center;">{{ student.std_gender }}</td>
                <td>{{ student.std_grade }}</td>
                <td style="text-align: center;">{{ student.std_contact }}</td>
                <td>{{ student.std_email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div style="text-align: right; margin-top: 10px; margin-right:5rem;">
        <p>Total Students: <strong>{{ students.count }}</strong></p>
    </div>
</body>
</html>