{% include "header.html" %}
    <title>Faculty List</title>
<div class="container-fluid mt-5">
    <h1 id="h1">Faculty List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th id="tchr_list_th">ID</th>
                <th id="tchr_list_th" >Name</th>
                <th id="tchr_list_th">Father's Name</th>
                <th id="tchr_list_th">CNIC</th>
                <th id="tchr_list_th">Qualification</th>
                <th id="tchr_list_th">Contact</th>
                <th id="tchr_list_th">Address</th>
                <th id="tchr_list_th">Email</th>
                <th id="tchr_list_th">Subject</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.teacher_name }}</td>
                <td>{{ teacher.teacher_father_name }}</td>
                <td>{{ teacher.teacher_cnic }}</td>
                <td>{{ teacher.teacher_qualification }}</td>
                <td>{{ teacher.teacher_contact }}</td>
                <td>{{ teacher.teacher_address }}</td>
                <td>{{ teacher.teacher_email }}</td>
                <td>{{ teacher.teacher_subject }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>