{% include "header.html" %}
<div class="container mt-5">
    <h2 class="mb-4">Faculty List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Father's Name</th>
                <th>CNIC</th>
                <th>Qualification</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Email</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.teacher_name }}</td>
                <td>{{ teacher.teacher_father_name }}</td>
                <td>{{ teacher.teacher_cnic }}</td>
                <td>{{ teacher.teacher_qualification }}</td>
                <td>{{ teacher.teacher_contact }}</td>
                <td>{{ teacher.teacher_address }}</td>
                <td>{{ teacher.teacher_email }}</td>
                <td>{{ teacher.teacher_subject }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>