{% include "header.html" %}
<title>Learn with Anjum SignUp</title>

<div class="container" id="cont1">
    <img src='/media/images/Logo_without_Bg(1).png' id="logo" alt="Learn with Anjum Logo">
    <h1 id="h1">Welcome to Learn with Anjum</h1>
    <h2 id="h2">Please Signup by Clicking One of the following button</h2><br>
    <div class="signup-links" style="margin-bottom: 3rem;">
        <a href="{% url 'student_signup' %}" class="btn btn-success" style="margin-right: 3rem;">Student Signup</a>
        <a href="{% url 'teacher_signup' %}" class="btn btn-success">Teacher Signup</a>
    </div>
</div>

{% include "footer.html" %}