{% include "header.html" %}
<title>Student Sign Up</title>
<body>
    <h2 id="h2"> Student Sign Up Form </h2>
    <div class="container" id="cont1">
        <form method="POST" action="{% url 'student_signup' %}">
            {% csrf_token %}
            <div class="row" id="formrow1">
                <div class="col-md-4" id="col1">
                    <label> Enter Your Name </label>
                    <input type="text" name="std_name" class="form-control" placeholder="Your Name" required>
                </div>
                <div class="col-md-4" id="col2">
                    <label> Enter Your Father's Name </label>
                    <input type="text" name="std_father_name" class="form-control" placeholder="Father's Name" required>
                </div>
                <div class="col-md-4" id="col3">
                    <label> Enter Your Age </label>
                    <input type="number" name="std_age" class="form-control" placeholder="Your Age" required>
                </div>
                <div class="col-md-4" id="col3">
                    <label> Enter Your Gender </label>
                    <input type="text" name="std_gender" class="form-control" placeholder="Gender" required>
                </div>
                <div class="col-md-4">
                    <label> Enter Class for Admission </label>
                    <input type="text/number" name="std_grade" class="form-control" placeholder="Enter Your Class" required>
                </div>
                <div class="col-md-4">
                    <label> Enter Contact No. </label>
                    <input type="text/number" name="std_contact" class="form-control" placeholder="+92-300-1234567" required>
                </div>
                <div class="col-md-4">
                    <label> Enter Your Email </label>
                    <input type="email" name="std_email" class="form-control" placeholder="Email" required>
                </div>
                <div class="col-md-4">
                    <label> Add a Password </label>
                    <input type="password" name="std_password" class="form-control" placeholder="Enter Password" required>
                </div>
                <div class="col-md-4">
                    <label> Confirm Your Password </label>
                    <input type="password" name="cnfmpassword" class="form-control" placeholder="Confirm Password" required>
                </div>
            </div>
            <button id="std_sign_btn" type="submit" class="btn btn-success mt-3 mb-5" value="Signup"> Sign Up </button>
        </form>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}

</div>
{% include "footer.html" %}
</body>
</html>