{% include "header.html" %}
<header>
		
	<h1 id="h1">Welcome to Learn with Anjum</h1>

</header>

<main>
	<div class="container" id="cont_nav">
        <div class="row">
            <div class="col-md-7" id="navbar">
                <div class="nav" id="nav1">
                    <ul>
                        <li> <a href="{% url 'home' %}"> Home </a> </li>
                        <li> <a href="{% url 'study_material' %}"> Study Material </a> </li>
                        <li> <a href="{% url 'teacher_list' %}"> Our Faculty </a> </li>
                    </ul>
                </div>        
            </div>
        </div>
    </div>

	<div class="container" id="std_mat">
		<div class="row" id="preI-III">
			<div class="col-md-3 studymaterial" id="pre1">
				<h5> Grade Pre-I</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">
						Select Subject
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="https://drive.google.com/file/d/1G1H_iVUiKOmAY1MUWr4wSVJISbeoUB0Z/view"> English </a>
							</li>
							<li>
								<a class="dropdown-item" href="#"> Urdu </a>
							</li>
							<li>
								<a class="dropdown-item" href="#"> Math </a>
							</li>
							<li>
								<a class="dropdown-item" href="#"> Islamiyat </a>
							</li>
							<li>
								<a class="dropdown-item" href="#"> Tarjamat-ul-Quran-il-Majeed </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="pre2">
				<h5> Grade Pre-II</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" > Select Subject </a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" class="dropdown-item"> English </a>
							</li>
							<li>
								<a href="#" class="dropdown-item"> Urdu </a>
							</li>
							<li>
								<a href="#" class="dropdown-item"> Math </a>
							</li>
							<li>
								<a href="#" class="dropdown-item"> Islamiyat </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="pre3">
				<h5> Grade Pre-III</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="GI-III">
			<div class="col-md-3 studymaterial" id="G1">
				<h5> Grade 1</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="G2">
				<h5> Grade 2</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="G3">
				<h5> Grade 3</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="GIV-VI">
			<div class="col-md-3 studymaterial" id="G4">
				<h5> Grade 4</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="G5">
				<h5> Grade 5</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="G6">
				<h5> Grade 6</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="GVI-IX">
			<div class="col-md-3 studymaterial" id="G7">
				<h5> Grade 7</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
							<li><a class="dropdown-item" href="/media/pdf/SICENCE_7_FULL_BOOK.pdf"> G. Science </a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="G8">
				<h5> Grade 8</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="G9">
				<h5> Grade 9</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="GX-XII">
			<div class="col-md-3 studymaterial" id="G10">
				<h5> Grade 10</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="G11">
				<h5> Grade 11</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 studymaterial" id="G12">
				<h5> Grade 12</h5>
				<div class="row" id="subjects">
					<div class="dropdown">
						<a href="#" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> Select Subect </a>
						<ul class="dropdown-menu">
							<li> <a href="#" class="dropdown-item"> English </a> </li>
							<li> <a href="#" class="dropdown-item"> Urdu </a> </li>
							<li> <a href="#" class="dropdown-item"> Math </a> </li>
							<li> <a href="#" class="dropdown-item"> Islamiyat </a> </li>
							<li> <a href="#" class="dropdown-item"> Health & Physical Education </a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>

{% include "footer.html" %}