{% include "header.html" %}
<title>Teacher Sign Up</title>
    <h2 id="h2"> Teacher Sign Up Form </h2>
    <div class="container" id="cont1">
        <form method="POST" action="{% url 'teacher_signup' %}">
            <div class="col-md-5" id="tchr_signup_form_left">
                {% csrf_token %}
                <div class="row">
                    <label for="name" class="form-label"></label>
                    <input type="text" class="form-control" id="name" placeholder="Full Name" name="teacher_name" required>
                </div>
                <div class="row">
                    <label for="father_name" class="form-label"></label>
                    <input type="text" class="form-control" id="father_name" placeholder="Father's Full Name" name="teacher_father_name" required>
                </div>
                <div class="row">
                    <label for="cnic" class="form-label"></label>
                    <input type="text" class="form-control" id="cnic" placeholder="CNIC" name="teacher_cnic" required>
                </div>
                <div class="row">
                    <label for="qualification" class="form-label"></label>
                    <input type="text" class="form-control" id="qualification" placeholder="Qualification" name="teacher_qualification" required>
                </div>
            </div>
            <div class="col-md-5" id="tchr_signup_form_right">
                <div class="row">
                    <label for="contact" class="form-label"></label>
                    <input type="text" class="form-control" id="contact" placeholder="Contact" name="teacher_contact" required>
                </div>
                <div class="row">
                    <label for="address" class="form-label"></label>
                    <input type="text" class="form-control" id="address" placeholder="Address" name="teacher_address" required>
                </div>
                <div class="row">
                    <label for="email" class="form-label"></label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="teacher_email" required>
                </div>
                <div class="row">
                    <label for="password" class="form-label"></label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="teacher_password" required>
                </div>
            </div>
            <div class="col-md-4" style="border: 0px solid black; text-align: center; display: flex; justify-content: center; align-items: center; margin-left: 33%;">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</div>